/* root */
:root {
  --primary-color: #2196f3;
  --main-color: #212121;
  --paragraph-color: #757575;
  --background-slogan: ##2f303a;
}

body {
  font-family: "Roboto" sans-serif;
  font-size: 14px;
  color: var(--main-color);
  letter-spacing: 1.8;
  margin: 0;
  padding: 0;
}
