/* Default value */
/* root */
:root {
  --primary-color: #2196f3;
  --main-color: #212121;
  --paragraph-color: #757575;
  --background-slogan: #2f303a;
}

body {
  font-family: "Roboto" sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--main-color);
  letter-spacing: 1.8;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  color: #212121;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

/*and default style */

/* header */

/* .navigation {
} */

.logo,
.logo:hover,
.logo:focus {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-web {
  color: var(--primary-color);
}

/* .menu {
}

.menu {
}

.menu-item {
}

.menu-link {
 } */

.menu-link:hover,
.menu-link:focus,
.linkM:hover,
.linkM:focus,
.linkT:hover,
.linkT:focus {
  color: var(--primary-color);
}

/* .connect {
}

.connect-item {
}

.linkM {
}

.linkT {
} */
